.cards-display {
  display: grid;
  gap: 5px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 10vw;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
}

@media (max-width: 680px) {
  .cards-display {
    justify-content: space-between;
  }
}

.card-item {
  margin: 10px;
  box-sizing: border-box;
  z-index: 0;
}
