.tutor-form-content {
  margin-top: 27vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tutor-form-input-area {
  align-items: flex-start;
  justify-content: space-between;
}

.tutor-form-input-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tutor-form-adress {
  color: #005975;
  margin: 2vh 45.8vw 2vh 0;
  font-weight: 600;
}

.input-tutor-form {
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-left: 0.5rem solid #005975;
  height: 6vh;
  padding-left: 1vw;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-size: 1rem;
  font-family: Inter;
}

.nome-tutor-form {
  width: 100%;
}

.cpf-tutor-form {
  width: 52%;
}

.telefone-tutor-form {
  width: 45%;
}

.cep-tutor-form {
  width: 25%;
}

.rua-tutor-form {
  width: 72%;
}

.bairro-tutor-form {
  width: 82%;
}

.numero-tutor-form {
  width: 15%;
}

.input-area-tutor-form {
  display: flex;
  flex-direction: column;
}

label {
  color: #005975;
}

.tutor-form-cancel-button {
  margin-top: 5vh;
  margin-right: 3vw;
  color: #005975;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.tutor-form-cancel-button:hover {
  font-weight: 600;
  text-decoration: underline;
}

.tutor-form-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 27vw;
  justify-content: center;
  align-items: center;
}

.input-tutor-form.error {
  border-color: red;
}

.input-tutor-form-descricao.error {
  border-color: red;
}

.error-message {
  margin-top: -1vh;
  color: red;
  font-size: 0.8rem;
}
